In [1]:
import pandas as pd
import numpy as np

In [2]:
exp_years = pd.read_excel('../data/Стажи и одинокие родители.xlsx')

In [3]:
exp_years.head()

,Предприятие,Табельный №,ФИО,Дата рождения,Семейное положение,Стаж работы в СИБУР
0,Озерный город,433602817.0,Саламатова Алла Иосифовна,1971-08-19 00:00:00,Состоит в зарегистрированном браке,лет: 18 мес: 5 дн:28
1,Озерный город,433350763.0,Немов Игорь Ипатиевич,1957-01-30 00:00:00,Состоит в зарегистрированном браке,лет: 14 мес:11 дн: 0
2,Озерный город,433579962.0,Воропаев Никон Демьянович,1984-10-25 00:00:00,Состоит в зарегистрированном браке,лет: 7 мес:10 дн: 1
3,Озерный город,NaN,Вакансия,NaN,NaN,лет: 0 мес: 0 дн: 0
4,Озерный город,433602516.0,Шуличенко Каролина Анатолиевна,1970-06-12 00:00:00,Состоит в зарегистрированном браке,лет: 0 мес: 1 дн:21

In [8]:
exp_years['Предприятие'].unique()

array(['Озерный город', 'Империя сов Илопса', 'Изенгард', 'Ривенделл',
       'Флориш и Блоттс', 'Лориэн', 'Лихолесье', 'Лесные эдьфы',
       'Одинокая гора', 'Мория', 'Хельмова Падь', 'Рохан',
       'Площадь Гриммо', 'Мглистые горы', 'Кашкай', 'Гундабад',
       'Гринготтс', 'Вайс-Сити', 'Сайлент Хилл', 'Сен-Мартен', 'Татуин',
       'Суллуст ', 'Данстар', 'Минас-Тирит', 'Сингапур', 'Дальние врата',
       'Квохор', 'Фангорн', 'Бухта Погибших кораблей', 'Шир', 'Альдераан',
       'Вьюн', 'Дантуин', 'Набу', 'О́птимус Пра́йм', 'Ба́мблби',
       'Хоббитон', 'Синие горы'], dtype=object)

In [7]:
exp_years['Семейное положение'].unique()

array(['Состоит в зарегистрированном браке', nan,
       'Никогда не состоял (не состояла) в браке', 'Разведен (разведена)',
       'Вдовец (вдова)', 'одинокая мать',
       'Состоит в незарегистрированном браке',
       'состоит в зарегистрированном браке', 'вдовец (вдова)',
       'разведен (разведена)', 'никогда не состоял (не состояла) в браке'],
      dtype=object)

In [43]:
def change_exp_years(a):
    a = str(a).replace(':', ': ').split(' ')
    a = list(filter(lambda x: x != '', a))
    
    try:
        return (int(a[1]) + (int(a[3]) / 12) + (int(a[5]) / 365))
    except:
        return -1

In [44]:
exp_years['sibur_exp_years'] = np.array([change_exp_years(v) for v in exp_years['Стаж работы в СИБУР']])

In [49]:
exp_years[exp_years['sibur_exp_years'] == -1] = exp_years[exp_years['sibur_exp_years'] != -1]['sibur_exp_years'].median()

In [52]:
exp_years.head()

,Предприятие,Табельный №,ФИО,Дата рождения,Семейное положение,Стаж работы в СИБУР,sibur_exp_years
0,Озерный город,433602817.0,Саламатова Алла Иосифовна,1971-08-19 00:00:00,Состоит в зарегистрированном браке,лет: 18 мес: 5 дн:28,18.493379
1,Озерный город,433350763.0,Немов Игорь Ипатиевич,1957-01-30 00:00:00,Состоит в зарегистрированном браке,лет: 14 мес:11 дн: 0,14.916667
2,Озерный город,433579962.0,Воропаев Никон Демьянович,1984-10-25 00:00:00,Состоит в зарегистрированном браке,лет: 7 мес:10 дн: 1,7.836073
3,Озерный город,NaN,Вакансия,NaN,NaN,лет: 0 мес: 0 дн: 0,0.000000
4,Озерный город,433602516.0,Шуличенко Каролина Анатолиевна,1970-06-12 00:00:00,Состоит в зарегистрированном браке,лет: 0 мес: 1 дн:21,0.140868

In [59]:
exp_years = exp_years[~np.isnan(exp_years['Табельный  №'])]

In [60]:
exp_years['department'] = exp_years['Предприятие']
del exp_years['Предприятие']

In [61]:
exp_years['user_id'] = exp_years['Табельный  №']
del exp_years['Табельный  №']

In [62]:
del exp_years['ФИО']

In [64]:
del exp_years['Стаж работы в СИБУР']

In [66]:
exp_years['birthday'] = exp_years['Дата рождения']
del exp_years['Дата рождения']

In [68]:
exp_years.head()

,Семейное положение,sibur_exp_years,department,user_id,birthday
0,Состоит в зарегистрированном браке,18.493379,Озерный город,433602817.0,1971-08-19 00:00:00
1,Состоит в зарегистрированном браке,14.916667,Озерный город,433350763.0,1957-01-30 00:00:00
2,Состоит в зарегистрированном браке,7.836073,Озерный город,433579962.0,1984-10-25 00:00:00
4,Состоит в зарегистрированном браке,0.140868,Озерный город,433602516.0,1970-06-12 00:00:00
5,Никогда не состоял (не состояла) в браке,14.916667,Озерный город,433417399.0,1975-03-23 00:00:00

In [76]:
exp_years = exp_years[exp_years['Семейное положение'] != 4.74337899543379]

In [77]:
exp_years.reset_index(inplace=True)

In [72]:
exp_years['Семейное положение'].unique()

array(['Состоит в зарегистрированном браке',
       'Никогда не состоял (не состояла) в браке', 'Разведен (разведена)',
       'Вдовец (вдова)', 'одинокая мать',
       'Состоит в незарегистрированном браке', nan, 4.74337899543379],
      dtype=object)

In [82]:
exp_years.shape

(26576, 6)

In [85]:
exp_years = pd.concat([exp_years, pd.get_dummies(exp_years['Семейное положение'])], axis=1)

In [86]:
del exp_years['Семейное положение']