In [211]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime
import time

In [4]:
st_data = pd.read_excel("Стажи и одинокие родители (1).xlsx")

In [5]:
st_data.head()

,Предприятие,Табельный №,ФИО,Дата рождения,Семейное положение,Стаж работы в СИБУР
0,Озерный город,433602817.0,Саламатова Алла Иосифовна,1971-08-19 00:00:00,Состоит в зарегистрированном браке,лет: 18 мес: 5 дн:28
1,Озерный город,433350763.0,Немов Игорь Ипатиевич,1957-01-30 00:00:00,Состоит в зарегистрированном браке,лет: 14 мес:11 дн: 0
2,Озерный город,433579962.0,Воропаев Никон Демьянович,1984-10-25 00:00:00,Состоит в зарегистрированном браке,лет: 7 мес:10 дн: 1
3,Озерный город,NaN,Вакансия,NaN,NaN,лет: 0 мес: 0 дн: 0
4,Озерный город,433602516.0,Шуличенко Каролина Анатолиевна,1970-06-12 00:00:00,Состоит в зарегистрированном браке,лет: 0 мес: 1 дн:21

In [6]:
luch_data = pd.read_excel("Лучший по профессии (1).xlsx")

In [60]:
luch_data.head()

,user_id,time_prikaz,prize_1,prize_2,prize_3,prize_4,prize_5,prize_6,prize_7
0,683342593,13.11.2017,1,0,0,0,0,0,0
1,683357532,27.10.2017,0,1,0,0,0,0,0
2,683387247,27.10.2017,0,1,0,0,0,0,0
3,683387489,27.10.2017,0,1,0,0,0,0,0
4,683380914,27.10.2017,0,1,0,0,0,0,0

In [8]:
luch_data = luch_data.rename(columns = {"Табельный номер":"user_id"})

In [10]:
del luch_data["ФИО"]

In [12]:
del luch_data["Мотив для поощрения"]

In [29]:
del luch_data["Приказ "]

In [48]:
del luch_data["Период действия С "]

In [22]:
new_values = []

In [23]:
for i in luch_data["Приказ "]:
    new_values.append(i[:5])

In [55]:
luch_data["Доп информация (основание)"].unique()

array(['За участие в конкурсе профмастерства на уровне Холдинга:\nучастника номинации «Сварочные технологии», занявшего 3-е – Бурнашева Д.А. \nСотрудник стал призером конкурса Worldskills.',
       'протокол заседания комиссии для проведения конкурса профмастерства среди водителей и машинистов спецтехники от 21.10.2017 01/29/ЗСТГ',
       'протокол подведения итогов 1 этапа конкурса профмастерства Лучший трубопроводчик линейный"',
       'протоколы работы Комиссии II этапа конкурса проф.мастерства на звание «Лучший по профессии» по всем номинациям ',
       'протоколы работы Комиссии I этапа конкурса проф.мастерства на звание «Лучший по профессии» ',
       'призер чемпионата Worldskills Hi-Tech 2018',
       'протокол заседания комиссии для проведения конкурса профмастерства среди водителей и машинистов спецтехники от 26.10.2018 01/29/ЗСТГ',
       'ЗСТГ_1 этап КПМ 2018'], dtype=object)

In [ ]:
luch_data["time_prikaz"] = np.array(new_values)

In [46]:
luch_data['time_prikaz'] = luch_data['time_prikaz'].astype(str) + "." + luch_data['Период действия С '].astype(str)

In [51]:
luch_data["prize_1"] = np.array([1 if s == "За участие в конкурсе профмастерства на уровне Холдинга:\nучастника номинации «Сварочные технологии», занявшего 3-е – Бурнашева Д.А. \nСотрудник стал призером конкурса Worldskills." else 0 for s in luch_data["Доп информация (основание)"]])
#data["S"] = np.array([1 if s == "S" else 0 for s in data["Embarked"]])
#data["Q"] = np.array([1 if s == "Q" else 0 for s in data["Embarked"]])

In [56]:
luch_data["prize_2"] = np.array([1 if s == "протокол заседания комиссии для проведения конкурса профмастерства среди водителей и машинистов спецтехники от 21.10.2017 01/29/ЗСТГ" or s == "протокол заседания комиссии для проведения конкурса профмастерства среди водителей и машинистов спецтехники от 26.10.2018 01/29/ЗСТГ" else 0 for s in luch_data["Доп информация (основание)"]])

In [57]:
luch_data["prize_3"] = np.array([1 if s == 'протокол подведения итогов 1 этапа конкурса профмастерства Лучший трубопроводчик линейный"' else 0 for s in luch_data["Доп информация (основание)"]])
luch_data["prize_4"] = np.array([1 if s == "протоколы работы Комиссии II этапа конкурса проф.мастерства на звание «Лучший по профессии» по всем номинациям " else 0 for s in luch_data["Доп информация (основание)"]])
luch_data["prize_5"] = np.array([1 if s == "протоколы работы Комиссии I этапа конкурса проф.мастерства на звание «Лучший по профессии» " else 0 for s in luch_data["Доп информация (основание)"]])
luch_data["prize_6"] = np.array([1 if s == "призер чемпионата Worldskills Hi-Tech 2018" else 0 for s in luch_data["Доп информация (основание)"]])
luch_data["prize_7"] = np.array([1 if s == "ЗСТГ_1 этап КПМ 2018" else 0 for s in luch_data["Доп информация (основание)"]])

In [59]:
del luch_data["Доп информация (основание)"]

In [61]:
luch_data.to_csv("luch_data.csv", sep = ",", index = False)

In [95]:
mnogodet_data = pd.read_excel("Многодетные (1).xlsx")

In [75]:
mnogodet_data.shape

(34387, 7)

In [96]:
del mnogodet_data["N п/п"]

In [126]:
mnogodet_data_1 = mnogodet_data.dropna()

In [127]:
mnogodet_data_1.head()

,Предприятие,Таб. номер,ФИО,Дата рождения,Степень родства,ФИ0 ребенка,Дата рождения ребенка
1864,Ба́мблби,633524165.0,Энтский Иннокентий Касьянович,07.09.1951,Дочь,Энтский Ирина,01.01.1975
1865,Ба́мблби,633524165.0,Энтский Иннокентий Касьянович,07.09.1951,Сын,Энтский Алик,01.01.1980
1866,Ба́мблби,633380338.0,Шеломов Эмиль Адамович,15.05.1991,Сын,Шеломов Самир Айнурович,01.03.2017
1867,Ба́мблби,633380338.0,Шеломов Эмиль Адамович,15.05.1991,Сын,Шеломов Амир Айнурович,01.03.2017
1868,Ба́мблби,633524218.0,Петрухин Аркадий Денисович,01.06.1953,Сын,Петрухин Ринат,04.12.1984

In [128]:
mnogodet_data_1 = mnogodet_data_1.rename(columns = {"Таб. номер":"user_id"})

In [129]:
mnogodet_data_1 = mnogodet_data_1.rename(columns = {"Предприятие":"dep_id"})
mnogodet_data_1 = mnogodet_data_1.rename(columns = {"Дата рождения":"worker_birth_date"})
mnogodet_data_1 = mnogodet_data_1.rename(columns = {"Степень родства":"child_type"})
mnogodet_data_1 = mnogodet_data_1.rename(columns = {"Дата рождения ребенка":"child_birth_date"})

In [130]:
del mnogodet_data_1["ФИО"]

In [131]:
mnogodet_data_1["child_type"] = np.array([1 if s == "Дочь" else 0 for s in mnogodet_data_1.child_type])

In [132]:
mnogodet_data_1.user_id = mnogodet_data_1.user_id.astype(int)

In [138]:
mnogodet_data_1.dep_man_num.unique()

array([2164, 2490, 2129,  447, 3741, 1718,  796, 1143,  247,  674,    0,
       1033,  520,  861, 1199,  181, 1408,  281,  213, 3500,   24,  155,
          5, 1400,   49,   17,   14])

In [134]:
del mnogodet_data_1["ФИ0 ребенка"]

In [289]:
mapper = {'Ба́мблби' : 2164, 'Лориэн' : 2490, 'Лихолесье': 2129, 'Лесные эдьфы': 447, 'Синие горы': 3741,
       'Озерный город': 1718, 'Одинокая гора': 796, 'Мория': 1143, 'Хельмова Падь': 247,
       'Хоббитон': 674, 'Мегатро́н': 0, 'Империя сов Илопса': 1033, 'Изенгард': 520, 'Рохан': 861,
       'Площадь Гриммо': 2490, 'Рэмпейдж': 0, 'Мглистые горы':1199, 'Сен-Мартен':181,
       'Татуин': 0, 'Ривенделл':1033, 'Суллуст ': 1408, 'Данстар':281, 'Минас-Тирит': 213,
       'Гундабад':3500, 'Сингапур':24, 'Дальние врата':155, 'Квохор':5, 'Фангорн':1400,
       'Вайс-Сити':5, 'Бухта Погибших кораблей':49, 'Сайлент Хилл':17, 'Шир':1400,
       'Альдераан':14, "Гринготтс": 0}

In [136]:
mnogodet_data_1["dep_man_num"] = [mapper[v] for v in mnogodet_data_1.dep_id]

In [288]:
mapper_2 = {'Ба́мблби' : 897, 'Лориэн' : 758, 'Лихолесье': 489, 'Лесные эдьфы': 123, 'Синие горы': 1233,
       'Озерный город': 487, 'Одинокая гора': 208, 'Мория': 374, 'Хельмова Падь': 47,
       'Хоббитон': 275, 'Мегатро́н': 0, 'Империя сов Илопса': 379, 'Изенгард': 168, 'Рохан': 337,
       'Площадь Гриммо': 758, 'Рэмпейдж': 0, 'Мглистые горы':559, 'Сен-Мартен':44,
       'Татуин': 0, 'Ривенделл':379, 'Суллуст ': 555, 'Данстар':0, 'Минас-Тирит': 60,
       'Гундабад':843, 'Сингапур':11, 'Дальние врата':11, 'Квохор':0, 'Фангорн':309,
       'Вайс-Сити':0, 'Бухта Погибших кораблей':0, 'Сайлент Хилл':0, 'Шир':309,
       'Альдераан':0, "Гринготтс": 0}

In [140]:
mnogodet_data_1["dep_child_num"] = [mapper_2[v] for v in mnogodet_data_1.dep_id]

In [145]:
mnogodet_data_1.to_csv("mnogodet_data.csv", sep=",", index=False)

In [146]:
opekun_data = pd.read_excel("Опекуны (1).xlsx")

In [169]:
opekun_data.head()

,dep_id,user_id,worker_birth_date,child_type,child_birth_date,dep_man_num,dep_child_num
1,Ба́мблби,633380234,1977-02-17,0,2008-12-11,2164,897
2,Ба́мблби,633380234,1977-02-17,0,2015-09-27,2164,897
3,Лориэн,217207880,1961-04-16,0,2013-03-24,2490,758
4,Лориэн,217207880,1961-04-16,0,2002-08-17,2490,758
5,Лориэн,216677184,1970-06-30,0,2002-01-11,2490,758

In [154]:
opekun_data = opekun_data.dropna()

In [156]:
del opekun_data["N п/п"]

In [157]:
del opekun_data["ФИ0 ребенка"]
del opekun_data["ФИО"]

In [159]:
opekun_data = opekun_data.rename(columns = {"Предприятие":"dep_id"})
opekun_data = opekun_data.rename(columns = {"Дата рождения":"worker_birth_date"})
opekun_data = opekun_data.rename(columns = {"Степень родства":"child_type"})
opekun_data = opekun_data.rename(columns = {"Дата рождения ребенка":"child_birth_date"})

In [162]:
opekun_data = opekun_data.rename(columns = {"Таб. номер":"user_id"})

In [163]:
opekun_data.user_id = opekun_data.user_id.astype(int)

In [165]:
opekun_data["dep_man_num"] = [mapper[v] for v in opekun_data.dep_id]
opekun_data["dep_child_num"] = [mapper_2[v] for v in opekun_data.dep_id]

In [167]:
opekun_data.child_type.unique()

array(['Подопечный', 'Подопечная'], dtype=object)

In [168]:
opekun_data["child_type"] = np.array([1 if s == "Подопечная" else 0 for s in opekun_data.child_type])

In [170]:
opekun_data.to_csv("opekun_data.csv", sep=",", index=False)

In [185]:
opekun_data.shape

(48, 7)

In [242]:
mnogodet_data = pd.read_csv("mnogodet_data.csv")

In [243]:
mnogodet_data.head()

,dep_id,user_id,worker_birth_date,child_type,child_birth_date,dep_man_num,dep_child_num
0,Ба́мблби,633524165,07.09.1951,1,01.01.1975,2164,897
1,Ба́мблби,633524165,07.09.1951,0,01.01.1980,2164,897
2,Ба́мблби,633380338,15.05.1991,0,01.03.2017,2164,897
3,Ба́мблби,633380338,15.05.1991,0,01.03.2017,2164,897
4,Ба́мблби,633524218,01.06.1953,0,04.12.1984,2164,897

In [182]:
print(((opekun_data.child_birth_date[1] - datetime.datetime.now())).days)

-3762

In [179]:
datetime.datetime.now()

datetime.datetime(2019, 3, 30, 20, 53, 19, 696077)

In [222]:
new_data = pd.read_csv("mnogodet_data.csv")

In [237]:
new_data.shape

(32523, 5)

In [227]:
type(new_data.worker_birth_date.values[1])

datetime.datetime

In [188]:
new_data_2 = opekun_data

In [232]:
new_data_2.head()

     dep_id    user_id worker_birth_date  dep_man_num  dep_child_num
1  Ба́мблби  633380234        1977-02-17         2164            897
2  Ба́мблби  633380234        1977-02-17         2164            897
3    Лориэн  217207880        1961-04-16         2490            758
4    Лориэн  217207880        1961-04-16         2490            758
5    Лориэн  216677184        1970-06-30         2490            758

In [282]:
new_data.dep_id.unique().shape

(33,)

In [287]:
am_of_opek_man = {'Ба́мблби' : 2, 'Лориэн' : 5, 'Лихолесье': 3, 'Лесные эдьфы': 2, 'Синие горы': 2,
       'Озерный город': 1, 'Одинокая гора': 0, 'Мория': 0, 'Хельмова Падь': 0,
       'Хоббитон': 1, 'Мегатро́н': 0, 'Империя сов Илопса': 3, 'Изенгард': 2, 'Рохан': 2,
       'Площадь Гриммо': 0, 'Рэмпейдж': 0, 'Мглистые горы':0, 'Сен-Мартен':0,
       'Татуин': 0, 'Ривенделл':0, 'Суллуст ': 1, 'Данстар':0, 'Минас-Тирит': 0,
       'Гундабад':0, 'Сингапур':0, 'Дальние врата':0, 'Квохор':0, 'Фангорн':0,
       'Вайс-Сити':0, 'Бухта Погибших кораблей':0, 'Сайлент Хилл':0, 'Шир':0,
       'Альдераан':0, "Гринготтс": 0}

In [286]:
am_of_opek_girls = {'Ба́мблби' : 1, 'Лориэн' : 1, 'Лихолесье': 5, 'Лесные эдьфы': 1, 'Синие горы': 4,
       'Озерный город': 7, 'Одинокая гора': 0, 'Мория': 0, 'Хельмова Падь': 0,
       'Хоббитон': 1, 'Мегатро́н': 0, 'Империя сов Илопса': 0, 'Изенгард': 0, 'Рохан': 2,
       'Площадь Гриммо': 0, 'Рэмпейдж': 0, 'Мглистые горы':0, 'Сен-Мартен':0,
       'Татуин': 0, 'Ривенделл':0, 'Суллуст ': 0, 'Данстар':0, 'Минас-Тирит': 2,
       'Гундабад':0, 'Сингапур':0, 'Дальние врата':0, 'Квохор':0, 'Фангорн':0,
       'Вайс-Сити':0, 'Бухта Погибших кораблей':0, 'Сайлент Хилл':0, 'Шир':0,
       'Альдераан':0, "Гринготтс": 0}

In [284]:
am_of_own_girls = {'Ба́мблби' : 1931, 'Лориэн' : 1217, 'Лихолесье': 1447, 'Лесные эдьфы': 419, 'Синие горы': 2127,
       'Озерный город': 1176, 'Одинокая гора': 546, 'Мория': 791, 'Хельмова Падь': 80,
       'Хоббитон': 485, 'Мегатро́н': 3, 'Империя сов Илопса': 502, 'Изенгард': 287, 'Рохан': 630,
       'Площадь Гриммо': 22, 'Рэмпейдж': 3, 'Мглистые горы':997, 'Сен-Мартен':71,
       'Татуин': 34, 'Ривенделл':48, 'Суллуст ': 619, 'Данстар':109, 'Минас-Тирит': 91,
       'Гундабад':1463, 'Сингапур':14, 'Дальние врата':29, 'Квохор':4, 'Фангорн':34,
       'Вайс-Сити':5, 'Бухта Погибших кораблей':15, 'Сайлент Хилл':5, 'Шир':494,
       'Альдераан':3, "Гринготтс": 0}

In [285]:
am_of_own_man = {'Ба́мблби' : 2036, 'Лориэн' : 1384, 'Лихолесье': 1489, 'Лесные эдьфы': 362, 'Синие горы': 2227,
       'Озерный город': 1387, 'Одинокая гора': 578, 'Мория': 838, 'Хельмова Падь': 123,
       'Хоббитон': 518, 'Мегатро́н': 3, 'Империя сов Илопса': 528, 'Изенгард': 318, 'Рохан': 709,
       'Площадь Гриммо': 31, 'Рэмпейдж': 6, 'Мглистые горы':1093, 'Сен-Мартен':69,
       'Татуин': 34, 'Ривенделл':56, 'Суллуст ': 681, 'Данстар':137, 'Минас-Тирит': 115,
       'Гундабад':1450, 'Сингапур':11, 'Дальние врата':23, 'Квохор':2, 'Фангорн':41,
       'Вайс-Сити':4, 'Бухта Погибших кораблей':17, 'Сайлент Хилл':1, 'Шир':491,
       'Альдераан':10, "Гринготтс": 0}

In [260]:
mnogodet_data[mnogodet_data.child_type == 0].dep_id.value_counts()

Синие горы                 2277
Ба́мблби                   2036
Лихолесье                  1489
Гундабад                   1450
Озерный город              1387
Лориэн                     1384
Мглистые горы              1093
Мория                       838
Рохан                       709
Суллуст                     681
Одинокая гора               578
Империя сов Илопса          528
Хоббитон                    518
Шир                         491
Лесные эдьфы                362
Изенгард                    318
Данстар                     137
Хельмова Падь               123
Минас-Тирит                 115
Сен-Мартен                   69
Ривенделл                    56
Фангорн                      41
Татуин                       34
Площадь Гриммо               31
Дальние врата                23
Бухта Погибших кораблей      17
Сингапур                     11
Альдераан                    10
Рэмпейдж                      6
Вайс-Сити                     4
Мегатро́н                     3
Квохор                        2
Сайлент Хилл                  1
Name: dep_id, dtype: int64

In [231]:
#del new_data["child_birth_date"]
#del new_data["child_type"]

#del new_data_2["child_birth_date"]
#del new_data_2["child_type"]

In [225]:
for i in range(len(new_data.worker_birth_date.values)):
    new_data.worker_birth_date.values[i] = datetime.strptime(new_data.worker_birth_date.values[i], "%d.%M.%Y")

In [272]:
data = pd.read_csv("exp_years.csv")

In [330]:
data.head()

,sibur_exp_years,department,user_id,birthday,Вдовец (вдова),Никогда не состоял (не состояла) в браке,Разведен (разведена),Состоит в зарегистрированном браке,Состоит в незарегистрированном браке,одинокая мать,dep_man_num,dep_child_num,am_of_opek_girls,am_of_opek_man,am_of_own_girls,am_of_own_man,worker_life_days
0,18.493379,Озерный город,433602817,1971-08-19 00:00:00,0,0,0,1,0,0,1718,487,7,1,1176,1387,17390
1,14.916667,Озерный город,433350763,1957-01-30 00:00:00,0,0,0,1,0,0,1718,487,7,1,1176,1387,22704
2,7.836073,Озерный город,433579962,1984-10-25 00:00:00,0,0,0,1,0,0,1718,487,7,1,1176,1387,12574
3,0.140868,Озерный город,433602516,1970-06-12 00:00:00,0,0,0,1,0,0,1718,487,7,1,1176,1387,17823
4,14.916667,Озерный город,433417399,1975-03-23 00:00:00,0,1,0,0,0,0,1718,487,7,1,1176,1387,16078

In [274]:
data.user_id = data.user_id.astype(int)

In [276]:
data.user_id.unique().shape

(26576,)

In [278]:
data.drop_duplicates().shape

(26576, 10)

In [283]:
data.department.unique()

array(['Озерный город', 'Империя сов Илопса', 'Изенгард', 'Ривенделл',
       'Лориэн', 'Лихолесье', 'Лесные эдьфы', 'Одинокая гора', 'Мория',
       'Хельмова Падь', 'Рохан', 'Площадь Гриммо', 'Мглистые горы',
       'Гундабад', 'Гринготтс', 'Вайс-Сити', 'Сайлент Хилл', 'Сен-Мартен',
       'Татуин', 'Суллуст ', 'Данстар', 'Минас-Тирит', 'Сингапур',
       'Дальние врата', 'Квохор', 'Фангорн', 'Бухта Погибших кораблей',
       'Шир', 'Альдераан', 'Ба́мблби', 'Хоббитон', 'Синие горы'],
      dtype=object)

In [293]:
data["dep_man_num"] = [mapper[v] for v in data.department]

In [294]:
data["dep_child_num"] = [mapper_2[v] for v in data.department]

In [296]:
data["am_of_opek_girls"] = [am_of_opek_girls[v] for v in data.department]

In [297]:
data["am_of_opek_man"] = [am_of_opek_man[v] for v in data.department]

In [298]:
data["am_of_own_girls"] = [am_of_own_girls[v] for v in data.department]

In [299]:
data["am_of_own_man"] = [am_of_own_man[v] for v in data.department]

In [317]:
x = []

for i in data.birthday.values:
    x.append(((datetime.now() - i).days)/365)

In [308]:
data.birthday.values

array([datetime.datetime(1971, 8, 19, 0, 0),
       datetime.datetime(1957, 1, 30, 0, 0),
       datetime.datetime(1984, 10, 25, 0, 0), ...,
       datetime.datetime(1983, 11, 18, 0, 0),
       datetime.datetime(1978, 1, 11, 0, 0),
       datetime.datetime(1979, 9, 1, 0, 0)], dtype=object)

In [306]:
for i in range(len(data.birthday.values)):
    data.birthday.values[i] = datetime.strptime(data.birthday.values[i], "%Y-%m-%d %H:%M:%S")

In [319]:
y = []

for i in x:
    i = int(i)
    y.append(i)

In [321]:
data["worker_life_years"] = y

In [323]:
data["sibur_exp_days"] = data.sibur_exp_years.values*365

In [329]:
del data["sibur_exp_days"]
del data["worker_life_years"]

In [339]:
def get_all_stats(arr):
    return [
    np.mean(arr),
    np.median(arr),
    np.min(arr),
    np.max(arr),
    np.percentile(arr, 25),
    np.percentile(arr, 50),
    np.percentile(arr, 75),
    np.var(arr)
    ]

In [342]:
dep_features = {}

for dep, group in data.groupby('department'):
    if dep not in dep_features.keys():
        dep_features[dep] = {}
        
    stats = get_all_stats(group.sibur_exp_years)
    
    dep_features[dep]['dep_exp_years_mean'] = stats[0]
    dep_features[dep]['dep_exp_years_median'] = stats[1]
    dep_features[dep]['dep_exp_years_min'] = stats[2]
    dep_features[dep]['dep_exp_years_max'] = stats[3]
    dep_features[dep]['dep_exp_years_p25'] = stats[4]
    dep_features[dep]['dep_exp_years_p50'] = stats[5]
    dep_features[dep]['dep_exp_years_p75'] = stats[6]
    dep_features[dep]['dep_exp_years_var'] = stats[7]

In [343]:
dep_features

{'Альдераан': {'dep_exp_years_mean': 1.5832420091324204,
  'dep_exp_years_median': 1.75,
  'dep_exp_years_min': 0.41278538812785387,
  'dep_exp_years_max': 3.996118721461187,
  'dep_exp_years_p25': 1.1885844748858447,
  'dep_exp_years_p50': 1.75,
  'dep_exp_years_p75': 1.75,
  'dep_exp_years_var': 0.6318950452798453},
 'Ба́мблби': {'dep_exp_years_mean': 9.007815079211978,
  'dep_exp_years_median': 7.218721461187215,
  'dep_exp_years_min': 0.0,
  'dep_exp_years_max': 43.66666666666666,
  'dep_exp_years_p25': 3.3826484018264837,
  'dep_exp_years_p50': 7.218721461187215,
  'dep_exp_years_p75': 13.1189497716895,
  'dep_exp_years_var': 52.027653773446325},
 'Бухта Погибших кораблей': {'dep_exp_years_mean': 3.5035558146313024,
  'dep_exp_years_median': 1.0794520547945206,
  'dep_exp_years_min': 0.16666666666666666,
  'dep_exp_years_max': 13.39634703196347,
  'dep_exp_years_p25': 0.6627853881278539,
  'dep_exp_years_p50': 1.0794520547945206,
  'dep_exp_years_p75': 5.494748858447489,
  'dep_exp_years_var': 18.01166697663634},
 'Вайс-Сити': {'dep_exp_years_mean': 1.4982876712328768,
  'dep_exp_years_median': 0.8039954337899544,
  'dep_exp_years_min': 0.24337899543378996,
  'dep_exp_years_max': 3.419406392694064,
  'dep_exp_years_p25': 0.75,
  'dep_exp_years_p50': 0.8039954337899544,
  'dep_exp_years_p75': 2.5,
  'dep_exp_years_var': 0.9750364778442671},
 'Гринготтс': {'dep_exp_years_mean': 1.7077625570776254,
  'dep_exp_years_median': 1.7077625570776254,
  'dep_exp_years_min': 1.7077625570776254,
  'dep_exp_years_max': 1.7077625570776254,
  'dep_exp_years_p25': 1.7077625570776254,
  'dep_exp_years_p50': 1.7077625570776254,
  'dep_exp_years_p75': 1.7077625570776254,
  'dep_exp_years_var': 0.0},
 'Гундабад': {'dep_exp_years_mean': 3.7228865695441185,
  'dep_exp_years_median': 2.4073059360730595,
  'dep_exp_years_min': 0.010958904109589041,
  'dep_exp_years_max': 24.64360730593607,
  'dep_exp_years_p25': 0.8936073059360731,
  'dep_exp_years_p50': 2.4073059360730595,
  'dep_exp_years_p75': 4.995433789954339,
  'dep_exp_years_var': 14.612595350715383},
 'Дальние врата': {'dep_exp_years_mean': 6.252718970527192,
  'dep_exp_years_median': 6.282876712328767,
  'dep_exp_years_min': 0.0136986301369863,
  'dep_exp_years_max': 14.912785388127856,
  'dep_exp_years_p25': 3.4037671232876714,
  'dep_exp_years_p50': 6.282876712328767,
  'dep_exp_years_p75': 8.503538812785386,
  'dep_exp_years_var': 16.37606075252948},
 'Данстар': {'dep_exp_years_mean': 3.7778363862208915,
  'dep_exp_years_median': 3.7077625570776256,
  'dep_exp_years_min': 0.0410958904109589,
  'dep_exp_years_max': 20.493378995433787,
  'dep_exp_years_p25': 1.4248858447488586,
  'dep_exp_years_p50': 3.7077625570776256,
  'dep_exp_years_p75': 5.696803652968037,
  'dep_exp_years_var': 7.539840494697002},
 'Изенгард': {'dep_exp_years_mean': 8.656915975069158,
  'dep_exp_years_median': 7.75,
  'dep_exp_years_min': 0.0,
  'dep_exp_years_max': 21.410045662100455,
  'dep_exp_years_p25': 4.370319634703196,
  'dep_exp_years_p50': 7.75,
  'dep_exp_years_p75': 13.399086757990869,
  'dep_exp_years_var': 26.589843078029027},
 'Империя сов Илопса': {'dep_exp_years_mean': 6.7974868492158596,
  'dep_exp_years_median': 8.024657534246575,
  'dep_exp_years_min': 0.0,
  'dep_exp_years_max': 23.38538812785388,
  'dep_exp_years_p25': 4.885388127853881,
  'dep_exp_years_p50': 8.024657534246575,
  'dep_exp_years_p75': 9.0,
  'dep_exp_years_var': 8.949140392261912},
 'Квохор': {'dep_exp_years_mean': 12.646255707762558,
  'dep_exp_years_median': 9.774657534246575,
  'dep_exp_years_min': 8.174885844748857,
  'dep_exp_years_max': 18.72420091324201,
  'dep_exp_years_p25': 9.471461187214613,
  'dep_exp_years_p50': 9.774657534246575,
  'dep_exp_years_p75': 17.086073059360732,
  'dep_exp_years_var': 18.994388161214328},
 'Лесные эдьфы': {'dep_exp_years_mean': 13.010445066604456,
  'dep_exp_years_median': 11.068493150684931,
  'dep_exp_years_min': 0.010958904109589041,
  'dep_exp_years_max': 43.37168949771689,
  'dep_exp_years_p25': 5.345662100456621,
  'dep_exp_years_p50': 11.068493150684931,
  'dep_exp_years_p75': 18.439383561643833,
  'dep_exp_years_var': 101.77842260334944},
 'Лихолесье': {'dep_exp_years_mean': 8.876130379869823,
  'dep_exp_years_median': 9.576712328767123,
  'dep_exp_years_min': 0.024657534246575345,
  'dep_exp_years_max': 30.4796803652968,
  'dep_exp_years_p25': 5.333333333333333,
  'dep_exp_years_p50': 9.576712328767123,
  'dep_exp_years_p75': 13.39634703196347,
  'dep_exp_years_var': 20.842945969981454},
 'Лориэн': {'dep_exp_years_mean': 12.140333611373931,
  'dep_exp_years_median': 13.643607305936074,
  'dep_exp_years_min': 0.06575342465753424,
  'dep_exp_years_max': 46.479680365296794,
  'dep_exp_years_p25': 6.138127853881278,
  'dep_exp_years_p50': 13.643607305936074,
  'dep_exp_years_p75': 18.379908675799086,
  'dep_exp_years_var': 42.25101432161913},
 'Мглистые горы': {'dep_exp_years_mean': 3.0417962348171805,
  'dep_exp_years_median': 1.6107305936073062,
  'dep_exp_years_min': 0.0,
  'dep_exp_years_max': 30.971461187214608,
  'dep_exp_years_p25': 0.4495433789954338,
  'dep_exp_years_p50': 1.6107305936073062,
  'dep_exp_years_p75': 3.5479452054794525,
  'dep_exp_years_var': 14.13247634011884},
 'Минас-Тирит': {'dep_exp_years_mean': 6.062995476665163,
  'dep_exp_years_median': 4.4100456621004565,
  'dep_exp_years_min': 0.010958904109589041,
  'dep_exp_years_max': 23.57397260273973,
  'dep_exp_years_p25': 1.4961187214611873,
  'dep_exp_years_p50': 4.4100456621004565,
  'dep_exp_years_p75': 10.246118721461187,
  'dep_exp_years_var': 28.887544209101435},
 'Мория': {'dep_exp_years_mean': 9.735168867497634,
  'dep_exp_years_median': 8.536986301369863,
  'dep_exp_years_min': 0.0,
  'dep_exp_years_max': 23.360730593607308,
  'dep_exp_years_p25': 3.6755707762557077,
  'dep_exp_years_p50': 8.536986301369863,
  'dep_exp_years_p75': 16.794520547945204,
  'dep_exp_years_var': 43.22566383752198},
 'Одинокая гора': {'dep_exp_years_mean': 9.330033283820166,
  'dep_exp_years_median': 10.674885844748859,
  'dep_exp_years_min': 0.052054794520547946,
  'dep_exp_years_max': 24.046575342465754,
  'dep_exp_years_p25': 6.5,
  'dep_exp_years_p50': 10.674885844748859,
  'dep_exp_years_p75': 13.39634703196347,
  'dep_exp_years_var': 20.598506164255365},
 'Озерный город': {'dep_exp_years_mean': 11.181239340534397,
  'dep_exp_years_median': 14.291095890410961,
  'dep_exp_years_min': 0.03287671232876712,
  'dep_exp_years_max': 24.42214611872146,
  'dep_exp_years_p25': 7.355251141552511,
  'dep_exp_years_p50': 14.291095890410961,
  'dep_exp_years_p75': 14.916666666666664,
  'dep_exp_years_var': 22.364508628088345},
 'Площадь Гриммо': {'dep_exp_years_mean': 9.972907153729071,
  'dep_exp_years_median': 8.81906392694064,
  'dep_exp_years_min': 1.0465753424657531,
  'dep_exp_years_max': 19.27191780821918,
  'dep_exp_years_p25': 5.7979452054794525,
  'dep_exp_years_p50': 8.81906392694064,
  'dep_exp_years_p75': 15.08236301369863,
  'dep_exp_years_var': 33.485161345544306},
 'Ривенделл': {'dep_exp_years_mean': 5.1587244207678005,
  'dep_exp_years_median': 5.195433789954338,
  'dep_exp_years_min': 0.13812785388127852,
  'dep_exp_years_max': 19.349771689497715,
  'dep_exp_years_p25': 2.4644977168949773,
  'dep_exp_years_p50': 5.195433789954338,
  'dep_exp_years_p75': 5.5465753424657525,
  'dep_exp_years_var': 15.793627050036529},
 'Рохан': {'dep_exp_years_mean': 7.966754993121319,
  'dep_exp_years_median': 10.568493150684931,
  'dep_exp_years_min': 0.010958904109589041,
  'dep_exp_years_max': 26.860730593607308,
  'dep_exp_years_p25': 3.74337899543379,
  'dep_exp_years_p50': 10.568493150684931,
  'dep_exp_years_p75': 11.65730593607306,
  'dep_exp_years_var': 19.934823249092883},
 'Сайлент Хилл': {'dep_exp_years_mean': 0.7015068493150685,
  'dep_exp_years_median': 0.29109589041095885,
  'dep_exp_years_min': 0.1271689497716895,
  'dep_exp_years_max': 2.191324200913242,
  'dep_exp_years_p25': 0.24337899543378996,
  'dep_exp_years_p50': 0.29109589041095885,
  'dep_exp_years_p75': 1.1667808219178082,
  'dep_exp_years_var': 0.5121095598507122},
 'Сен-Мартен': {'dep_exp_years_mean': 3.637593086328951,
  'dep_exp_years_median': 2.7214611872146115,
  'dep_exp_years_min': 0.0,
  'dep_exp_years_max': 34.46872146118721,
  'dep_exp_years_p25': 1.4385844748858447,
  'dep_exp_years_p50': 2.7214611872146115,
  'dep_exp_years_p75': 4.696803652968037,
  'dep_exp_years_var': 16.325873483595117},
 'Сингапур': {'dep_exp_years_mean': 8.948607305936074,
  'dep_exp_years_median': 9.623059360730593,
  'dep_exp_years_min': 2.441324200913242,
  'dep_exp_years_max': 15.960502283105022,
  'dep_exp_years_p25': 6.330422374429224,
  'dep_exp_years_p50': 9.623059360730593,
  'dep_exp_years_p75': 11.097716894977168,
  'dep_exp_years_var': 12.429897157238868},
 'Синие горы': {'dep_exp_years_mean': 5.486339410939651,
  'dep_exp_years_median': 3.4166666666666665,
  'dep_exp_years_min': 0.0,
  'dep_exp_years_max': 48.17214611872146,
  'dep_exp_years_p25': 1.0027397260273974,
  'dep_exp_years_p50': 3.4166666666666665,
  'dep_exp_years_p75': 7.113470319634702,
  'dep_exp_years_var': 34.573852006610515},
 'Суллуст ': {'dep_exp_years_mean': 7.476074183685662,
  'dep_exp_years_median': 6.549315068493152,
  'dep_exp_years_min': 0.0,
  'dep_exp_years_max': 32.260958904109586,
  'dep_exp_years_p25': 3.791095890410959,
  'dep_exp_years_p50': 6.549315068493152,
  'dep_exp_years_p75': 11.6189497716895,
  'dep_exp_years_var': 22.66061120554726},
 'Татуин': {'dep_exp_years_mean': 3.133481534887447,
  'dep_exp_years_median': 2.5013698630136987,
  'dep_exp_years_min': 0.0684931506849315,
  'dep_exp_years_max': 13.726940639269404,
  'dep_exp_years_p25': 1.1131849315068492,
  'dep_exp_years_p50': 2.5013698630136987,
  'dep_exp_years_p75': 4.449543378995434,
  'dep_exp_years_var': 7.4177785660484155},
 'Фангорн': {'dep_exp_years_mean': 7.058741030658837,
  'dep_exp_years_median': 4.235730593607306,
  'dep_exp_years_min': 0.4659817351598174,
  'dep_exp_years_max': 29.985159817351605,
  'dep_exp_years_p25': 2.8009703196347027,
  'dep_exp_years_p50': 4.235730593607306,
  'dep_exp_years_p75': 9.68310502283105,
  'dep_exp_years_var': 33.97752672132844},
 'Хельмова Падь': {'dep_exp_years_mean': 10.59964680170159,
  'dep_exp_years_median': 11.235730593607308,
  'dep_exp_years_min': 0.046575342465753435,
  'dep_exp_years_max': 17.910045662100455,
  'dep_exp_years_p25': 6.020547945205479,
  'dep_exp_years_p50': 11.235730593607308,
  'dep_exp_years_p75': 15.819748858447488,
  'dep_exp_years_var': 31.51100437864289},
 'Хоббитон': {'dep_exp_years_mean': 7.180984596817343,
  'dep_exp_years_median': 5.317123287671233,
  'dep_exp_years_min': 0.0,
  'dep_exp_years_max': 32.299315068493144,
  'dep_exp_years_p25': 3.455022831050228,
  'dep_exp_years_p50': 5.317123287671233,
  'dep_exp_years_p75': 10.228995433789951,
  'dep_exp_years_var': 31.40614388256824},
 'Шир': {'dep_exp_years_mean': 4.369012053831034,
  'dep_exp_years_median': 2.81027397260274,
  'dep_exp_years_min': 0.010958904109589041,
  'dep_exp_years_max': 37.22420091324201,
  'dep_exp_years_p25': 1.0328767123287672,
  'dep_exp_years_p50': 2.81027397260274,
  'dep_exp_years_p75': 5.64634703196347,
  'dep_exp_years_var': 26.804648445650027}}

In [344]:
data.to_csv("dep_features.csv", sep=",", index=False)